@font-face {
    font-family: "iconfont";
    src: url("iconfont.eot?t=1607343556843"); /* IE9 */
    src: url("iconfont.eot?t=1607343556843#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
            url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABkwAAAJbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYgE2AiQDCAsGAAQgBYRtBzYbjgUR1YtFsq8PbGPmY/VnRK3OZEUFUYN5C35cUrrOxy4xqzi474N42h/N293/bw9GYgSYIFU4gSVeveZ6ISlCIV9O8FTBBhwEopENoJvO9wIR/f+tTVPkGxVhmJLz1E//I4EdLoQO4VWnXYq0gQLrIut8WRjvp9ffOpbYB0AxDPnEvdM/gT7IfEA57kVjTZrUBdTFgRToHhjFiZRQxg1jF7iE+xDAizhykIqqhg4sBmuZADI9MTaAzUUwGJa3CG7NXoMcgYNVB1nhMPy+/OSKBYWjsZpaRiuHKXlnF7H+j90+AVEQ0GEH0EAOYEA6ajNNaIRxGq+MIQn2VS/w7vfdyF4dCPvrrFofAGKg8p5UrvpW8wrgtiYSDESNegNIcIYFaHC2Iztu3wWNuzzEX086H3u9tk4VrvHq2knGeCdQAn+m9zIRQGDO67I+/2YZAJ5X9BjaDf18YHfiFfgZqp59RtdYLmVUVe2wIvgkLV54Af84EMTbWGvomQuCJXSEz4PYFBpLCmnYHDh4kw8XSzG8yKb6sDfBLKIR4wlksQMgBHAFhR830ATwRBr2FQ5h/MElQDS86BJnepMm5ugqeaOE4YdjlI0dj7mo/kb9uXjNakL+RXqMcayLqpi/0kY6x4bj3TdmjKyyYgceo2UR3FUmilYMZntbllz3oiLKCg4qeaOE4YdjlI390eZKn79Rfy5eW3pqii/SY5we66LqQV6NW6+ee3nmePeNGSOrrNiBWbQsgnv9rImiFcOI1N6W9iDuayzWN69fdwwAB5Ytu9jbNabRbyZnnuSzAQAAAAA=")
            format("woff2"),
        url("iconfont.woff?t=1607343556843") format("woff"),
        url("iconfont.ttf?t=1607343556843") format("truetype"),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
            url("iconfont.svg?t=1607343556843#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-down:before {
    content: "\e60b";
}
